/* Write media queries over here */
@media (max-width: 475px) {
  html {
    font-size: 60%;
  }
  main {
    width: 100%;
    margin: 0rem;
    padding: 0rem 0rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0rem;
  }

  /* Hero */
  .hero img {
    width: 100%;
    border-radius: 0rem;
    margin-bottom: 3rem;
  }

  .hero h1 {
    padding: 0 2rem;
    line-height: 3.7rem;
  }

  .hero p {
    padding: 0 2rem;
    line-height: 2.7rem;
  }

  /* Preparation Time */
  .preparation--time {
    margin: 0 2rem;
    border-radius: 1rem;
    margin-bottom: 5rem;
  }

  /* ingredients */
  .ingredients {
    margin: 0 2rem;
    margin-bottom: 3rem;
  }

  /* Instructions */
  .instructions {
    margin: 0 2rem;
    margin-bottom: 3rem;
  }

  /* nutrition */
  .nutrition {
    margin: 0 2rem;
    margin-bottom: 0rem;
    padding-bottom: 5rem;
  }

  .nutrition--text {
    color: hsl(30, 10%, 34%);
    line-height: 2.8rem;
    margin-bottom: 1.5rem;
  }

  .nutrition--detials div {
    padding: 2rem 4rem;
  }
}
