/* Write general and desktop styles over here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* this will set 1rem to 10px instead of 16px, the default */
html {
  font-size: 62.5%;
}

body {
  background-color: hsl(330, 100%, 98%);
  font-size: 1.6rem;
  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);
}

main {
  width: 75rem;
  margin: 10rem auto;
  padding: 5rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 2.5rem;
}

/* hero section */
.hero img {
  width: 100%;
  border-radius: 2.5rem;
  margin-bottom: 3rem;
}

.hero h1 {
  font-family: "Young Serif", serif;
  font-size: 4rem;
  font-weight: 400;
  color: hsl(24, 5%, 18%);
  margin-bottom: 1.5rem;
}

.hero p {
  font-weight: 600;
  color: hsl(30, 10%, 34%);
  margin-bottom: 5rem;
  line-height: 2.5rem;
}

/* Preparatin time section */
.preparation--time {
  background-color: hsl(330, 100%, 98%);
  padding: 3rem 4rem;
  border-radius: 2rem;
  margin-bottom: 5rem;
}

.preparation--time h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: hsl(332, 51%, 32%);
  margin-bottom: 1.5rem;
}

.preparation--time ul {
  color: hsl(332, 51%, 32%);
  margin-left: 2.5rem;
}

.preparation--time ul li {
  margin-bottom: 1.5rem;
  line-height: 2.5rem;
}

.preparation--time p {
  color: hsl(30, 10%, 34%);
  margin-left: 2rem;
}

.preparation--time span {
  font-weight: 700;
}

/* Ingredients section */
.ingredients {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  margin-bottom: 3rem;
}
.ingredients h2 {
  font-family: "Young Serif", serif;
  font-size: 3rem;
  font-weight: 400;
  color: hsl(14, 45%, 36%);
  margin-bottom: 2rem;
}

.ingredients ul {
  color: hsl(14, 45%, 36%);
  margin-left: 2.5rem;
  margin-bottom: 3rem;
}

.ingredients li {
  color: hsl(30, 10%, 34%);
  margin-left: 2rem;
  margin-bottom: 1.5rem;
  line-height: 2.5rem;
}

/* Instructions */
.instructions {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  margin-bottom: 3rem;
}
.instructions h2 {
  font-family: "Young Serif", serif;
  font-size: 3rem;
  font-weight: 400;
  color: hsl(14, 45%, 36%);
  margin-bottom: 2rem;
}

.instructions ol {
  color: hsl(14, 45%, 36%);
  margin-left: 2.5rem;
  margin-bottom: 3rem;
  font-weight: 700;
}

.instructions li {
  margin-bottom: 1rem;
}

.instructions li span {
  font-weight: 700;
}

.instructions li p {
  color: hsl(30, 10%, 34%);
  margin-left: 2rem;
  line-height: 3rem;
  font-weight: 400;
}

/* nutrition section */
.nutrition {
  margin-bottom: 3rem;
}

.nutrition h2 {
  font-family: "Young Serif", serif;
  font-size: 3rem;
  font-weight: 400;
  color: hsl(14, 45%, 36%);
  margin-bottom: 2rem;
}

.nutrition--text {
  color: hsl(30, 10%, 34%);
  line-height: 3.5rem;
  margin-bottom: 1rem;
}

.nutrition--detials div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid hsl(30, 54%, 90%);
  padding: 2rem 2rem;
}

.nutrition--detials strong {
  width: 50%;
}

.nutrition--detials div strong {
  font-weight: 700;
  color: hsl(14, 45%, 36%);
}
