/* Write media queries here as always*/
@media (max-width: 1640px) {
  /* Section 1 */
  .section--header h2 {
    font-size: 3rem;
    color: var(--gray-primary);
    margin-bottom: 2rem;
  }

  .property--box {
    gap: 7rem;
  }

  .property--box img {
    width: 100%;
    margin-left: -3rem;
  }

  .property {
    gap: 1rem;
    width: 40rem;
  }

  /* Section 4 */
  .logos div {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    margin: 0 auto;
  }

  /* Section 3 */
  .cards {
    width: 80%;
    gap: 5rem;
  }

  /* Footer */
  .container {
    width: 80%;
  }
}

@media (max-width: 475px) {
  html {
    font-size: 60%;
  }
  header {
    margin-bottom: 15rem;
  }

  .hero {
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero img {
    width: 10rem;
  }

  .hero--text h1 {
    font-size: 3rem;
  }

  .hero--text p {
    font-size: 1.3rem;
    width: 25rem;
    line-height: 2.2rem;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
  }

  button {
    font-size: 1.5rem;
  }

  /* Section 1 */
  .section1 {
    margin-bottom: 10rem;
  }

  .section--header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section--header h2 {
    text-align: center;
  }

  .section--header p {
    font-size: 1.6rem;
    width: 80%;
  }

  .property--box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .property--box img {
    margin: 0 auto;
    width: 85%;
  }

  .property {
    text-align: center;
    padding: 0 2rem;
  }

  .property {
    gap: 1rem;
    width: 100%;
  }
  .property h3 {
    font-size: 2rem;
    color: var(--gray-primary);
  }

  .property p {
    font-size: 1.5rem;
  }

  /* Section2 */
  .section2 p {
    font-size: 1.5rem;
    width: 90%;
    line-height: 1.6;
  }

  .section2 img {
    width: 100%;
    margin-bottom: 0rem;
  }

  /* section 3 */
  .section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
  }

  .section3 h2 {
    font-size: 3rem;
    text-align: center;
  }

  .section3 p {
    font-size: 1.6rem;
    width: 85%;
    text-align: center;
    line-height: 1.5;
  }

  .cards {
    width: 90%;
    flex-direction: column;
    gap: 1rem;
  }

  .card {
    width: 100%;
  }

  .card img {
    width: 14%;
  }

  .card h3 {
    font-size: 2rem;
  }

  .card p {
    font-size: 1.5rem;
  }

  /* Section 4 */
  .logos {
    margin-bottom: 17rem;
  }

  .logos div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
  }

  /* Section 5 */
  .section5 h2 {
    font-size: 3rem;
    text-align: center;
    padding: 0 2rem;
  }

  .section5 p {
    width: 85%;
    font-size: 1.6rem;
  }

  /* Footer */
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .container img {
    margin-bottom: 3rem;
  }

  footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  footer ul li a {
    font-size: 1.6rem;
  }

  .socialMedia {
    margin-left: 0rem;
    margin-top: 3rem;
  }
}
