/* Write major styling here as always */
:root {
  --green-primary: hsl(171, 66%, 44%);
  --blue-primary: hsl(233, 100%, 69%);
  --gray-primary: hsl(210, 10%, 33%);
  --gray-neutral: hsl(201, 11%, 66%);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", serif;
}

/* section */
header {
  margin-bottom: 15rem;
}

.hero {
  width: 100%;
  height: 30rem;
  background-image: url(images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero img {
  align-self: flex-end;
  padding-bottom: 6rem;
}

.hero--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -3rem;
}

.hero--text h1 {
  font-size: 4rem;
  text-align: center;
  color: var(--gray-primary);
  margin-bottom: 2rem;
  font-size: 600;
}

.hero--text p {
  color: var(--gray-neutral);
  font-size: 1.8rem;
  width: 70rem;
  text-align: center;
  margin-bottom: 5rem;
  line-height: 2.8rem;
}

.buttons {
  display: flex;
  gap: 3rem;
}

button {
  border: none;
  background-color: transparent;
  font-size: 1.6rem;
  color: #fff;
  border-radius: 50rem;
  padding: 1.5rem 3rem;
}

.btn--ios {
  background-color: var(--green-primary);
  box-shadow: 0rem 0.2rem 0.5rem var(--green-primary);
}

.btn--mac {
  background-color: var(--blue-primary);
  box-shadow: 0rem 0.2rem 0.8rem var(--blue-primary);
}

/* Section 1 */
.section1 {
  margin-bottom: 17rem;
}

.section--header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section--header h2 {
  font-size: 3rem;
  color: var(--gray-primary);
  margin-bottom: 2rem;
}

.section--header p {
  color: var(--gray-neutral);
  font-size: 1.8rem;
  width: 70rem;
  text-align: center;
  margin-bottom: 10rem;
  line-height: 2.8rem;
}

.property--box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 5rem; */
}

.property--box img {
  margin: 0 auto;
}

.properties {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.property {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.property h3 {
  font-size: 2.5rem;
  color: var(--gray-primary);
}

.property p {
  font-size: 1.8rem;
  color: var(--gray-neutral);
  line-height: 2.8rem;
}

/* Section 2 */
.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 8rem;
}

.section2 h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.section2 p {
  font-size: 1.6rem;
  color: var(--gray-neutral);
  width: 60rem;
  margin-bottom: 6rem;
}

.section2 img {
  margin-bottom: 0rem;
}

/* Section 3 */
.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

.section3 h2 {
  font-size: 3.5rem;
  color: var(--gray-primary);
  margin-bottom: 2rem;
}

.section3 p {
  font-size: 1.6rem;
  color: var(--gray-neutral);
  margin-bottom: 5rem;
}

.cards {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  justify-self: flex-start;
  width: 35rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card h3 {
  font-size: 2rem;
  color: var(--gray-primary);
}

.card p {
  align-items: center;
  line-height: 2.5rem;
  font-size: 1.6rem;
}

/* Section 4 */
.logos {
  margin-bottom: 17rem;
}

.logos div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

/* Section 5 */
.section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 17rem;
}

.section5 h2 {
  font-size: 3.5rem;
  color: var(--gray-primary);
  margin-bottom: 1rem;
}

.section5 p {
  width: 75rem;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--gray-neutral);
  text-align: center;
  margin-bottom: 3rem;
}

/* footer */
footer {
  background-color: rgb(159, 171, 178, 0.2);
  padding: 5rem 0rem;
}

.container {
  width: 55%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.container img {
  width: 5rem;
  height: 5rem;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  color: var(--gray-primary);
  text-decoration: none;
  font-size: 1.8rem;
}

.socialMedia {
  margin-left: 15rem;
  align-self: center;
  display: flex;
  gap: 4rem;
}

.socialMedia img {
  width: 2.5rem;
  height: 2.5rem;
}
