/* Nothing for you here :) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Figtree, Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 7%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: hsl(47, 88%, 63%);
}

main {
  background-color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 7%);
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 0.5rem 0.5rem 0rem 0rem hsl(0, 0%, 7%);
}

.main-image {
  border-radius: 10px;
  margin-bottom: 1rem;
  /* width: 100%; */
}

.learning {
  margin-bottom: 1rem;
}

.learning span {
  background-color: hsl(47, 88%, 63%);
  padding: 5px;
  border-radius: 5px;
  font-weight: 800;
}

.published {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.main-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  transition: all 0.3s;
}

.main-heading:hover {
  color: hsl(47, 88%, 63%);
  cursor: default;
}

.main-paragraph {
  line-height: 1.6rem;
  color: hsl(0, 0%, 42%);
  margin-bottom: 1rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile img {
  width: 10%;
}

.profile p {
  font-weight: 800;
}

/* Media Queries */
@media (max-width: 475px) {
  main {
    margin: 2rem;
    width: 100%;
  }
  html {
    font-size: 13px;
  }
  .main-image {
    width: 100%;
  }
}
